body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

img{
  max-width: 100%;
}

.container{
  max-width: 720px;
}

body > header{
  border-top: 5px solid;
  background: url(header.jpeg);
  height: 250px;
  background-attachment: fixed;
}
  body > header h1{
    text-transform: uppercase;
    text-shadow: 0 2px 5px rgba(0,0,0,.7);
    font-size: 70px;
    margin-top: 70px;
    text-align: center;
  }
    body > header h1 a{
      color: #FFF;
    }
      body > header h1 a:hover{
        color: #FFF;
        text-decoration: none;
      }
  body > header ul{
    text-align: center;
  }
    body > header ul li a{
      color: #FFF;
      text-shadow: 0 2px 5px rgba(0,0,0,.7);
    }
      body > header ul li a:hover{
        color: #CCC;
        text-decoration: none;
      }
#main{
  border-bottom: 1px dashed #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#main h2{
  text-align: center;
  font-size: 40px;
  font-family: 'Droid Serif', serif;
}

ul.posts{
  margin-bottom: 30px;
}

  ul.posts li h3{
    font-size: 20px;
    color: #999;
  }

ul.social{
  text-align: center;
}
  ul.social li a{
    font-size: 30px;
    color: #222;
  }

footer{
  text-align: center;
  color: #ccc;
}
  footer a{
    color: #666;
  }

article.post{}
  article.post h2{
    margin-bottom: 0px;
  }
  article.post .info{
    text-align: center;
    color: #666;
    margin-bottom: 10px;
  }

.github-forkme{
  position: fixed;
  top: 0;
  right: 0;
  background: url(https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png) no-repeat;
  width: 149px;
  height: 149px;
  text-indent: -99999em;
}

.avatar{
  margin: 0 0 20px 20px;
}

.comments-count{
  font-size: 12px;
  color: #999;
}
