---
layout: default
disqus: true
archive: false
---

<main class="2xl:w-3/5 md:w-4/5 w-11/12 mx-auto my-5">
    <article class="post">
        {% include back-button.html %}
        
        <div class="mb-5">
            <h1 class="text-4xl mb-2">{{ page.title }}</h1>
            <p>
                <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
            </p>
        </div>

        <section class="prose prose-lg max-w-none">
            {{content}}
        </section>

        <footer>
            <hr class="w-8/12 mx-auto border-t my-5" />
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <section class="flex items-center">
                    <a href="{{ site.baseurl }}" class="w-28 mr-5">
                        <img class="rounded-full border-4 shadow-sm" src="http://www.gravatar.com/avatar/df8e5930113ab9844be90e1271e153fb.png?s=200" />
                    </a>

                    <article>
                        <h4 class="font-bold text-xl">{{ site.author }}</h4>
                        <p>Software Developer</p>
                    </article>
                </section>                
            {% endif %}
            
            {% if page.disqus %}
            <hr class="w-8/12 mx-auto border-t my-5" />

            <section class="disqus">
                <div id="disqus_thread"></div>
                <script type="text/javascript">

                    var disqus_shortname = 'abimaelmartell-blog'; 
                    // var disqus_developer = 0; // developer mode is on
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </section>
            {% endif %}
            
        </footer>

    </article>

</main>
